html, body, #page {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 51px;
}

#page {
}

#splash {
    overflow: hidden;
    height: auto;
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.xanchor {
    padding-top: 51px;
    margin-top: -51px;
}

.custom-jumbotron {
    margin-top: 30px;
    background-color: rgba(238, 238, 238, 0.4);
    border-radius: 0px !important;
}

.custom-navbar-brand  {
    padding-right: 20px;
}

.custom-input-search-button {
    border-left: 0px;
}

.custom-navbar {
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #3D4F7C;
  border-color: #463265;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.custom-navbar .navbar-collapse {
  border-color: #463265;
}

.custom-navbar .navbar-brand {
  color: #fff;
}

.custom-navbar .navbar-nav > li > a {
  color: #BFC6E3;
}
.custom-navbar .navbar-nav > li > a:hover {
  color: #FFFFFF;
}

.custom-navbar .navbar-nav > .active > a,
.custom-navbar .navbar-nav > .active > a:hover {
  color: #FFFFFF;
  background-color: #323665;
}

.custom-navbar .navbar-nav > .open > a,
.custom-navbar .navbar-nav > .open > a:hover {
  color: #FFFFFF;
  background: none !important;
}

.custom-navbar .navbar-toggle {
  border-color: #563d7c;
}

.custom-navbar .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}

.custom-section {
    padding: 10px 0 20px 0;
}

.custom-section-inner {
    padding: 0 0 60px 0;
}

.custom-section-gray {
    background-color: #F6F6FF;
}

body, h1, h2, h3, .h1, .h2, .h3 {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !important;
    /* font-family: 'Tinos', 'Georgia', times !important; */
}

h3, .h3 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

h4, h5, h6, .h4, .h5, .h6 {
    margin: 0px;
    padding: 0px;
    font-family: inherit !important;
    font-weight: inherit;
    font-size: inherit;
    color: #202020;
}

.nowrap {
    white-space: nowrap;
}

.timestamp {
    color: #A0A0A0;
    font-size: 13px;
    font-style: italic;
}

.xheader {
    border-bottom: 1px dotted #E4E9F0;
    margin: 40px 0px 20px 0px;
}

.xheader a {
    color: inherit;
    text-decoration: none;
}

.xheader h2 {
    border-bottom: 2px solid #428BCA;
    display: inline-block;
    margin: 0 0 -2px 0;
    color: #585f69;
}

.xrow, .xtext, .xlist {
    font-size: 14pt;
    font-family: 'Tinos', 'Georgia', times;
    color: #808080;
    line-height: 150%;
}

.xrow strong, .xtext strong, .xlist strong {
    font-weight: normal;
    color: #303030;
}

.xrow {
    border-bottom: 1px solid #E4E9F0;
}

.xrow:last-child {
    border-bottom: 0px;
}

.xrow .xlabel {
    text-transform: uppercase;
    /* font-weight: bold; */
}

.xrow .xvalue {
    font-weight: normal;
}

.xtag, .xsmalltag {
    display: inline-block;
}

.xtag em, .xsmalltag em {
    font-style: normal;
    border: 1px solid gray;
}

.xtag em {
    padding: 0 10px 0 10px;
    margin: 0 10px 0 0;
}

.xsmalltag em {
    padding: 0 6px 0 6px;
    margin: 0 4px 0 0;
}

.xsubtext {
    font-size: 10pt;
    line-height: 175%;
    margin: 5px 0 5px 0;
}

.p-item {
    margin: 0 0 10px 0;
    padding: 10px 20px 10px 20px;
    border-left: 2px solid #428BCA;
    background: #FFFFFF;
}

.custom-footer-inner {
    margin: 10px 0 20px 0;
    padding-top: 10px;
    border-top: 1px solid #C0C0C0;
}

.btn-act {
    font-weight: bold;
}

.line {
    border-top: 1px dashed #E0E0E0;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media print {
    .print-hidden {
        display: none;
    }
}

@media screen {
    .xtag em {
        border-radius: 6px 0 6px 0;
    }

    .xsmalltag em {
        border-radius: 4px 0 4px 0;
    }

    .more {
        display: none;
    }
}
