::selection {
    background-color: hsla(0, 0%, 0%, 0.5);
}

html, body, #page {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 51px;
}

#page {
}

#splash {
    overflow: hidden;
    height: auto;
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: hsla(0, 0%, 100%, 1);
}

.xanchor {
    padding-top: 51px;
    margin-top: -51px;
}

.custom-jumbotron {
    margin-top: 30px;
    background-color: hsla(0, 0%, 93%, 0.4);
    border-radius: 0px !important;
}

.custom-navbar-brand  {
    padding-right: 20px;
}

.custom-input-search-button {
    border-left: 0px;
}

.custom-navbar {
  text-shadow: 0 -1px 0 hsla(0, 0%, 0%, .15);
  background-color: hsla(208, 28%, 34%, 1);
  border-color: hsla(208, 47%, 27%, 1);
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, .1);
}

.custom-navbar .navbar-collapse {
  border-color: hsla(264, 34%, 30%, 1);
}

.custom-navbar .navbar-brand {
  color: hsla(0, 0%, 100%, 1);
}

.custom-navbar .navbar-nav > li > a {
  color: hsla(228, 39%, 82%, 1);
}
.custom-navbar .navbar-nav > li > a:hover {
  color: hsla(0, 0%, 100%, 1);
}

.custom-navbar .navbar-nav > .active > a,
.custom-navbar .navbar-nav > .active > a:hover {
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(235, 34%, 30%, 1);
}

.custom-navbar .navbar-nav > .open > a,
.custom-navbar .navbar-nav > .open > a:hover {
  color: hsla(0, 0%, 100%, 1);
  background: none !important;
}

.custom-navbar .navbar-toggle {
  border-color: hsla(264, 34%, 36%, 1);
}

.custom-navbar .navbar-toggle:hover {
  background-color: hsla(264, 34%, 30%, 1);
  border-color: hsla(264, 34%, 30%, 1);
}

.custom-section {
    padding: 10px 0 20px 0;
}

.custom-section-inner {
    padding: 0 0 60px 0;
}

.custom-section-gray {
    background-color: hsla(240, 100%, 98%, 1);
}

.custom-boxrow {
    margin: 50px 0px 0px 0px;
}

.custom-boxrow a {
    color: hsla(0, 0%, 100%, 1);
    text-decoration: none;
}

.custom-box-trans {
    background-color: hsla(0, 0%, 93%, 0.4);
    padding: 11px !important;
}

.custom-box-darkest {
    background-color: hsla(208, 56%, 47%, 1);
}

.custom-box-darkest:hover {
    background-color: hsla(208, 58%, 54%, 1);
}

.custom-box-darker {
    background-color: hsla(208, 56%, 53%, 1);
}

.custom-box-darker:hover {
    background-color: hsla(208, 65%, 59%, 1);
}

.custom-box-dark {
    background-color: hsla(207, 70%, 60%, 1);
}

.custom-box-dark:hover {
    background-color: hsla(207, 83%, 66%, 1);
}

.custom-box-light {
    background-color: hsla(200, 83%, 66%, 1);
}

.custom-box-light:hover {
    background-color: hsla(200, 100%, 72%, 1);
}

.custom-box {
    padding: 40px 50px 40px 50px;
    float: left;
    display: block;
    font-size: 14pt;
    font-weight: bold;
}

.custom-box span {
    margin-left: 10px;
}

.custom-box:hover span {
    text-decoration: underline;
}

body, h1, h2, h3, .h1, .h2, .h3 {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif !important;
    /* font-family: 'Tinos', 'Georgia', times !important; */
}

h3, .h3 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

h4, h5, h6, .h4, .h5, .h6 {
    margin: 0px;
    padding: 0px;
    font-family: inherit !important;
    font-weight: inherit;
    font-size: inherit;
    color: hsla(0, 0%, 13%, 1);
}

a {
    color: hsla(208, 28%, 34%, 1);
}

.nowrap {
    white-space: nowrap;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.margin-top-30px {
    margin-top: 30px;
}

.margin-right-10px {
    margin-right: 10px;
}

.timestamp {
    color: hsla(0, 0%, 63%, 1);
    font-size: 13px;
    font-style: italic;
}

.xheader {
    border-bottom: 1px dotted hsla(215, 29%, 92%, 1);
    margin: 40px 0px 20px 0px;
}

.xheader a {
    color: inherit;
    text-decoration: none;
}

.xheader h1 {
    border-bottom: 2px solid hsla(208, 16%, 53%, 1);
    display: inline-block;
    margin: 0 0 -2px 0;
    color: hsla(215, 9%, 38%, 1);
}

.xrow, .xtext, .xlist {
    font-size: 14pt;
    font-family: 'Tinos', 'Georgia', times;
    color: hsla(0, 0%, 50%, 1);
    line-height: 150%;
}

.xrow strong, .xtext strong, .xlist strong {
    font-weight: normal;
    color: hsla(0, 0%, 19%, 1);
}

.xrow {
    border-bottom: 1px solid hsla(215, 29%, 92%, 1);
}

.xrow:last-child {
    border-bottom: 0px;
}

.xrow .xlabel {
    text-transform: uppercase;
    /* font-weight: bold; */
}

.xrow .xvalue {
    font-weight: normal;
}

.xtag, .xsmalltag {
    display: inline-block;
}

.xtag em, .xsmalltag em {
    font-style: normal;
    border: 1px solid gray;
}

.xtag em {
    padding: 0 10px 0 10px;
    margin: 0 10px 0 0;
}

.xsmalltag em {
    padding: 0 6px 0 6px;
    margin: 0 4px 0 0;
}

.xsubtext {
    font-size: 10pt;
    line-height: 175%;
    margin: 5px 0 5px 0;
}

.p-item {
    margin: 0 0 10px 0;
    padding: 10px 20px 10px 20px;
    border-left: 2px solid hsla(208, 56%, 53%, 1);
    background: hsla(0, 0%, 100%, 1);
}

.custom-footer-inner {
    margin: 10px 0 20px 0;
    padding-top: 10px;
    border-top: 1px solid hsla(0, 0%, 75%, 1);
}

.btn-act {
    font-weight: bold;
}

.line {
    border-top: 1px dashed hsla(0, 0%, 88%, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

#carousel-main, #carousel-main .carousel-inner, #carousel-main .carousel-inner .item, #carousel-main .carousel-inner .active {
    height: 100%;
}

#carousel-main .carousel-inner .item, #carousel-main .carousel-inner .active {
    padding-top: 125px;
    padding-bottom: 100px;
}

#carousel-main .title {
    font-size: 42pt;
}

#carousel-main .buttons {
    margin-top: 30px;
}

#carousel-main .buttons a {
    margin-left: 5px;
}

.social {
    
}

.social .social-icons {
    position: relative;
    list-style-type: none;
}

.social .social-icons, .social .social-icons li {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.social .social-icons li a {
    text-decoration: none;
    margin-left: 5px;
}

@media print {
    body {
        zoom: 70% !important;
    }

    .print-hidden {
        display: none;
    }
}

@media screen {
    .xtag em {
        border-radius: 6px 0 6px 0;
    }

    .xsmalltag em {
        border-radius: 4px 0 4px 0;
    }

    .more {
        display: none;
    }
}
